@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: darkslategray;
}

::-webkit-scrollbar-thumb {
  background-color: slategray;
  border-radius: 10px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}